@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,200&display=swap');

*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
    

}



:root{
    --green:#27ae60;
    --black:#130f40;
    --white:#fff;
    --light-color:#666;
    ---light-bg:#f7f7f7;
    --border: 1rem solid rgba(0,0,0,.2);
    --box-shado: 0 1rem 1rem solid rgba(0,0,0,.05);
}

html{
    font-size: 99.5%;
   
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;

    
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: white;
}

.logo{
    font-size: 2rem;
    font-weight: bolder;
    color: var(--black);

}

i{
    padding-right: 2rem;
    color: var(--green);;
}


.navbar a{
   
    font-size: 1.2rem;
    color: var(--light-color);
    margin: 0 1rem;
    

}
.navbar a:hover{
    color: var(--green);
}

 .icons div{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    background-color: var(---light-bg);
    color: var(--black);
    border-radius: 5rem;
    margin-left: 2rem;
    cursor: pointer;
    
    text-align: center;
}
.icons div:hover{
    color: var(--white);
    background-color: var(--green);
}



section{
    padding: 2.5rem 9%;
    
}

.search-form-container{
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    height: calc(100vh -8.5rem);
    background-color: var(--white);


    
}
.search-form-container:active{
    display: block;
}

.search-form-container form{
    height: 7rem;
    border-bottom: 2px solid black;
    width: 100%;
    display: flex;
    align-items: center;
}
.search-form-container form input{
    height: 100%;
    width: 100%;
    font-size: 1rem;
    color: var(--black);
    text-transform: none;
    padding-right: 1rem;
}

.search-form-container form label{
    font-size: 1.5rem;
    cursor: pointer;color: var(--black);

}
.search-form-container form label:hover{
    color: var(--green);
}



.login-form-container{



    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    z-index: 1000;
    height: calc(100vh - 8.5rem);
    background: var(--green);

    
}
.login-form-container form{
    margin: 2rem auto;
    max-width: 40rem;
    box-shadow: var(--box-shado);
    padding: 2rem;
    border-radius: 2rem;
    background: #f7f7f7;
    animation: fadeup .4s linear;
    
}
.login-form-container form h3{
    padding-bottom: 20px;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--black);
}
.login-form-container form .box{
    margin: 1rem 0;
    border-radius: 1rem;
    background: white;
    padding: 10px 10px;
    font-size: 15px ;
    color: var(--black);
    text-transform: none;
    width: 100%;
}


 .reminder{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.login-form-container form label{
    font-size: 1rem;
    cursor: pointer;
    color: var(--light-color);
}

.login-form-container form .btn{
    text-align: center;
    width: 20%;
    margin: 1rem auto;
    padding: 9px;
    background-color: var(--green);
    border-radius: 2rem;
    
    
}

.login-form-container form p{
    color: var(--light-color);
    padding-top: 5px ;

}

.login-form-container form p a{
    color: var(--black);
}

.btn{
    text-align: center;
    
    margin: auto;
    top: 2rem;
    padding: 9px;
    background-color: var(--green);
    border-radius: .6rem;
    color: var(--white);

    
    
}
.btn:hover{
    background: var(--black);
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    
} .heading  h3{
    font-size: 2rem;
    color: var(--black);

}

.order form{
    background: var(---light-bg);
    padding: 2rem;
    border-radius: .5rem;
}


.order form .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.order form .flex .inputBox{
    width: 100%
}
 .order .inputBox{
    width: 49%;
    padding: .7rem 0;
}
.order input, textarea{
    width: 100%;
    padding: .8rem .9rem;
    width: 100%;
    border-radius: .5rem;
    font-size: 1rem;
    text-transform: none;
    color: var(--black);
}
.span{
    font-size: 2rem;
    color: var(--light-color);
}
 .order.textarea{
    height: 20rem;
    resize: none;
}

map{
    height: 100%;
    width: 100%;
    border-radius:  .5rem;
}

.icons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}
.icons-container span{
    display: block;
    color: var(--black);

}
.icons{
    padding-bottom: 1rem;
}
